.container {
	display: flex;
	@include flex(column, center, flex-start);
	@include WH(50%, 50%);
	background-color: map-get($colors, containerBGC);
	border-radius: 2em;
	padding-top: 2em;
	@include mq(780px) {
		width: 70%;
	}
	@include mq(500px) {
		width: 90%;
	}
	.form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include WH(50%, 4vh);
		margin-top: 1.5em;
		@include mq(1070px) {
			width: 70%;
		}
		@include mq(415px) {
			width: 90%;
			height: 5vh;
		}
		&__input {
			@include WH(70%, 100%);
			padding-left: 2em;
			border-radius: 2em;
			border: none;
		}
		&__error {
			color: map-get($colors, error);
			font-size: 1.1rem;
			text-transform: uppercase;
		}
		&__submit {
			margin-left: 1em;
			border-radius: 2em;
			padding: 0 1em;
			border: none;
			cursor: pointer;
		}
	}
}
