.main {
	display: flex;
	@include flex(column);
	@include WH(100%, 100vh);
	background-image: url('./../images/clouds.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&__title {
		font-size: 4rem;
		color: map-get($colors, primary);
	}
}
