@mixin flex($flexDir: row, $align: center, $justify: center) {
	flex-direction: $flexDir;
	align-items: $align;
	justify-content: $justify;
}

@mixin WH($width, $height) {
	width: $width;
	height: $height;
}
