@mixin flex($flexDir: row, $align: center, $justify: center) {
	flex-direction: $flexDir;
	align-items: $align;
	justify-content: $justify;
}

@mixin WH($width, $height) {
	width: $width;
	height: $height;
}

@mixin positioning($pos, $top, $left) {
	position: $pos;
	top: $top;
	left: $left;
}

@mixin mq($media) {
	@media (max-width: $media) {
		@content;
	}
}
